@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100;300&display=swap');

/*font-family: 'Koulen', cursive;
font-family: 'Montserrat', sans-serif;*/
body{
    font-family: 'Montserrat', sans-serif;
}
.menuItem,.limitedOffer,.feature,.productDesc,.sizes{
    font-family: 'Koulen', cursive;
}
