html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  cursor: url('./img/hippie.png') ;
}

nav {
  background-color: rgb(28, 24, 24);
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 50%;
}
.payButton.p{
 text-decoration: none;
 color: white;
 width: 35%;
 text-align: center;

 border-radius: 16px;
}
.payButton.p:hover{
  transition: 0.5s;
  color: #000;
  background-color: aliceblue;
  border: 1px solid rgb(28, 25, 25);
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background: url("https://img.freepik.com/free-photo/dark-brick-wall-as-a-background_84485-1166.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: rgb(226, 219, 219);
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: rgb(105, 240, 109);
  border: 1px solid rgb(243, 45, 15);
  z-index: 1;
  border-radius: 8px;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  transition: 0.6s;
  background-color: white;
  color: black;
  border: none;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #dc9e9e;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rgb(218, 238, 94);
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: rgb(92, 251, 140);
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: rgb(131, 219, 254);
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(220, 132, 255);
}



.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
  width: 630px;
  height: 690px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 5px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productDesc {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productButton,.payButton.p{
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons{
  display: flex;
}
.products{
  color: #df1414;
  font-weight: 700;
}
.fIcon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright{
  font-weight: 300;
  font-size: 14px;
  font-size: 25px;
}
.qr{
  border: none;
}
.AIR-FORCE,.JORDAN,.BLAZER,.CRATER,.HIPPIE{
  width: 35%;
  height: 25%;
  margin-top: 10px;
  border: none;
  background-color: #8acba5;
  border: 10px;
}

.AIR-FORCE:hover{
  background-color: antiquewhite;
  color: #000;
  transition: 0.7s;
  border: 1px solid #344039;
}
.JORDAN:hover{
  background-color: rgb(226, 164, 82);
  color: #000;
  transition: 0.7s;
  border: 1px solid #344039;
}
.BLAZER:hover{
  background-color: rgba(98, 139, 236, 0.392);
  color: #000;
  transition: 0.7s;
  border: 1px solid #344039;
}
.CRATER:hover{
  background-color: rgba(227, 114, 239, 0.392);
  color: #000;
  transition: 0.7s;
  border: 1px solid #344039;
}
.HIPPIE:hover{
  background-color: rgba(169, 252, 97, 0.392);
  color: #000;
  transition: 0.7s;
  border: 1px solid #344039;
}
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 100px;

  margin: 10px 0;
  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 65%, 56%), hsl(327, 100%, 71%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}
.obuv{
  width: 20px;
}
.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .5);
  font-size: 16px;
}

/*QR*/
.qr{
  background: inherit;
  padding-left: 10px;
}
.modal{
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   visibility:hidden;
   z-index: -1;
   opacity: 0;
}
.madal .verlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #344039;
  opacity: 0.7;
  z-index: 0;
}
.madal-window{
  position: relative;
  z-index: 2;
  width: 550px;
  border-radius:10px;
  box-shadow: 0 10px 15px rgb(28, 25, 25);
  background-color: #fff;
  padding: 20px;
}
.btn-close{
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background: none;
  opacity: 0.7;
  transition:  all .06s ease-out;
}
.btn-close:hover{
  opacity: 1;
}
.modal.show{
  visibility: visible;
  z-index: 100;
  opacity: 1;
}
/*End*/
